#editor {
    font-size: 2vmin;
}
#syncStatusSpan {
    font-family: sans-serif;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    width: max-content;
}
.saving {
    color: #444;
}
.saved {
    color: #fff;
    background: linear-gradient(45deg, #3b3, #4d4);
}

@media (max-aspect-ratio: 1/1) {

    #editor {
        font-size: 5vmin;
    }

}